<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>New Cuisine</title>
</head>
<body>
    <div class="container">
        <h1>Add New Cuisine</h1>

       <form action='/cuisines' method='post'>
           <div class="form-group">
               <label for='type'>Cuisine Type</label>
               <input class="form-control" id='type' name='type' type='text'>
           </div>
           <button type='submit' class="btn btn-primary">Add cuisine</button>
       </form>
   </div>
</body>
</html>
