<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Restaurants</title>
    </head>
    <body>
        <h1> Restaurants and Cuisines </h1>
        <a href="/restaurants">View All Restaurants</a>
        <a href="/cuisines">View Cuisines</a>
    </body>
</html>
