<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Restaurants</title>
    </head>
    <body>
        <div class="container">
            <h1> Restaurants and Cuisines </h1>
            <a href="/restaurants"><button class="btn btn-primary btn-lg">View All Restaurants</button></a>
            <a href="/cuisines"><button class="btn btn-success btn-lg">View Cuisines</button></a>
        </div>
    </body>
</html>
