<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit a Restaurant</title>
    </head>
    <body>
        <div class="container">
            <h1>Update the {{restaurant.getType}} restaurant.</h1>

            <form action="/restaurants/{{restaurant.getId}}" method="post">
                <input name="_method" type="hidden" value="patch">

                <label for="new_name">Rename your restaurant:</label>
                <input id="new_name" name="new_name" type="text">

                <label for="new_stars">Change your Rating</label>
                <input id="new_stars" name="new_stars" type="text">

                <label for="new_hours">Update Your Hours</label>
                <input id="new_hours" name="new_hours" type="text">

                <button type="submit">Update</button>
            </form>
        </div>
    </body>
</html>
